.title {
  font-size: 20px;
  font-weight: 700;
  color: rgb(17, 20, 45);
  font-family: Cairo;
}
.text {
  font-size: 18px;
  font-weight: 400;
  margin-top: 15px;
  color: rgb(17, 20, 45);
  font-family: Cairo;
}
